.text-center {
  text-align: center;
}

.site-author-image {
  background: white;
  background-clip: content-box;
}

@media (min-width: 1200px) {
  .post-body {
    font-size: 1.1em;
  }
}
.category-list-item a{
  font-weight: bold;
}
.category-list-child .category-list-item{
  display:inline-block;
  padding-left:15px;
  
}
.category-list-child .category-list-item a{
  font-style: italic;
  font-weight: inherit;
}